[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none
